

.copy h1
{
    font-size: 50px;
}
.copy
{
    padding: 10px 90px;
}

.contents img {
    padding: 10px 0px;
}

.contents {
    background-color: #000;
    color: #fff;
    margin: 0px 0px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
}

.profile a{
    display: flex;
    justify-content: center;
    color: #fff;
}

.face img {
    width: 100%;
}

.face h3 {
    font-size: xx-large;
}

.contents h3{
    padding: 0px 60px;
}


.icons {
    padding: 0px 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon {
    padding: 0px 4%;
    width: 15%;
    height: contain;
}

.icon img {
    width: 100%;
    height: 100%;
}


.header {
    padding:0px 15px;
    display: flex;
    justify-content: end;
}

p {
    font-size: x-large;
}

.bio a{
    color: #a544c2;
}

.bio p{
    padding: 0px 30px;
}

dt {
    padding-left: 2em;
}